body{
    margin: 0;
    font-family: 'Poppins','Metamorphous', serif;
    background-color: #58807a;

}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat','Metamorphous';
}

h7 {
    font-family: 'Metamorphous';
    font-size: 25px;
    padding-right: 130px;
}

@font-face{
    font-family: "TitleFont";
    src: url("../assets/fonts/mythology_of_egypt/Mythology\ Of\ Egypt.otf");
}

.bigTitle{
    display: flex;
    
}

.navFlex{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    justify-content: space-around;
    padding: 20px;
    border-radius: 40px;
    background-color: #ffffff85;
    z-index: 1000;

}

.nav-link{
    display: flex;
    padding: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.nav-link:hover{
    color: #15d5f5;
}

.searchItem{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    border: none;
    height: 55%;
    padding-left: 10px;
    padding-right: 10px;
}



.bar{
    border-right: solid #000 2px;
}

.navContainer{
    padding-top: 20px;
    width: 90%;
    display: block;
    margin-left: 70px;
    margin-right: 70px;
    position: fixed;
    z-index: 100000;
}
.search{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px;
    background-color: #ffffff;
    border-radius: 20px;
}

#homePage {
    background-image: url(../assets/img/homeHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    height: 100vh;

}

.hero{
    display: flex;
    flex-direction:column;
    justify-content:flex-end;
    align-items:end;
    padding-right: 20px;
    height: 80vh;
    text-align:left;
    color: rgb(255, 255, 255);
    font-size:xx-large;
    
    
}

.hero h1{
    display: flex;
    font-size: 300%;
    color: #e9ad1c;
    width: 40%;
    text-align: left;

}

#title{
    font-family: "TitleFont",sans-serif;
}

.subSection1{
   padding: 40px; 
   display: flex;
   flex-direction:row;
   justify-content:space-evenly;
    background-color:#002d68;
    padding: 30px;
    align-items: center;
    height: 100vh
    
}



.rightSub1{
   
    color: #fff;
    width: 40%;
}

h2, h3{
    font-weight: 700;
}

.leftSub1{
    display: flex;
    justify-content: left;
    width: 40%;
}
.subSection1 button{
    padding: 20px;
    border-radius: 12px;
    background-color: #15d5f5;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    border: none;

}

.subSection1 button:hover{
    background-color: #9311e9;
}

.cardSection button:hover{
    background-color: #9311e9;
}


.subSection2{
    display: flex;
    justify-content:right;
    padding: 30px;
    background-color: #fff;
    padding-top: 90px;
    padding-bottom: 90px;

}

.leftSub2 {
    display: flex;
    justify-content: flex-start;
    justify-content: left;
    align-content:center;
    flex-direction: column;
    width: 40%;
    padding-top: 50px;
      
}

.rightSub2{
    display: flex;
    justify-content: right;
    border-radius: 20px;
    padding-left: 300px;

}

 img{
    border-radius: 20px;
}


.leftSub2 h4{
    color: #15d5f5;
    font-size: medium;
}

.leftSub2 h2{
    color: #30004f ;
}

h3{
    color: #e9ad1c;
    font-size: medium;
}



.cardSection{
    padding: 80px 60px;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.card{
    border: none;
    display:flex;
    flex-direction: 
}

.bigFatChud{
    display: flex;
    flex-direction: row;
    

}


.textCard{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;   
    padding-top: 30px;
}

.cardSection{
    display: flex;
    padding: 20px;
    background-color: #002d68;
    
}

.cardSection h2{
    color: #fff;
}

.card{
    padding: 60px;
    display: flex;
    justify-content: center;
    text-align: center;
    background:none;
    color: #fff   

}

.card h3{
    color: #fff;
}

.cardSection button{
    padding: 20px;
    border-radius: 12px;
    background-color: #15d5f5;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    border: none;
   
    

}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}







.contactHero{
    background-image: url(../assets/img/contactHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 40px;
    color: white;
    text-align: center;
    
}

#frank{
    padding-top: 130px;
    font-family: "TitleFont",sans-serif;
    font-size: 120px;
    padding-bottom: 60px;
}



.contact{
    background-color: #fff;
}

.contactSection{
    background-color: #fff;
}

.contact{
    display: flex;
    justify-content:right;
    padding: 30px;
    padding-top: 50px;
    background-color: #fff;

}

.subLeft3 {
    display: flex;
    align-content:center;
    flex-direction: column;
    width: 60%;
    padding-top: 50px;
      
}

.subRight3 {
    display: flex;
    justify-content: right;
    border-radius: 20px;
    padding-left: 30px;
    
}

#stinky{
    color: #15d5f5;
    font-weight: 600;
}

#crusty{
    color:#002d68;
    font-weight: 800;
}

.conLeft{
    width: 50%;      
} 

.socials{
    padding-bottom: 40px;
}

#map{
    border-radius: 20px;
}


.contactSection{
    padding: 60px 40px;
}

.contactContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; 
}

.contactInfo, .contactForm{
    width: 40%;
    gap: 30px;
}

.contactForm h1{
    font-size:30px;
    font-weight: 700;
}


.contactForm form{
    padding: 20px;
    gap: 10px;
    background-image: url(../assets/img/formBackground.png);
    border-radius: 20px;
    color: #fff;
}

.formElement{
    width: 100%;
    padding: 10px;
}

.contactForm input,
.contactForm select,
.contactForm textarea{
    width: 95%;
    padding: 10px 0;
    padding-left: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-family: 'poppins';
}

.contactForm button{
    padding: 12px;
    margin-left: 10px;
    background-color:#15d5f5;
    color: #ffffff;
    font-family: 'poppins';
    font-weight: 400;
    border: none;
    cursor: pointer;
    border-radius: 20px;
}

.contactForm button:hover{
    background-color: #9311e9;
}










.adoptHero{
    background-image: url(../assets/img/adoptHeader.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    padding: 40px;
    color: white;
    text-align: center; 
    font-size:300%
    
}

#cheese{
    font-family: "TitleFont",sans-serif;
    font-size: 90px;
}

.adoptHero1{
    font-size: 300%;
    padding-top: 200px;
}

.subAdopt1{
    background-color: #002d68;
    color: #fff;
    padding: 60px;
    
    text-align: center;
}

#textAdopt{
    color: #e9ad1c;
    font-family: 'Metamorphous';
    font-weight: 500;
}

body{
    font-family: 'Poppins';
    margin: 0;
}

img{
    border-radius: 20px;
}

.counterThing{
    background-color: #e9ad1c;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-between;
    
}



.countA{
    padding: 5px;
    padding-top: 10px;
    display: flex;
    flex-direction:row;
    gap: 6px;
    align-items: center;
    padding-left: 20px;


}

.countB{
    padding: 5px;
    display: flex;
    flex-direction:row;
    gap: 30px;
    align-items: center;
    padding-top: 10px;
    border-left: #fff;
    border-width: 2px;
}

.countC{
    padding: 5px;
    display: flex;
    flex-direction:row;
    gap: 6px;
    align-items: center;
    padding-top: 10px;
}

.fish{
    background-color: rgba(255, 255, 255, 0.556);
    border: none;
    border-radius: 5px;
    width: 120px;
    height: 40px;
}

#special{
    width: 40px;

}



.flexContainerTop{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    padding: 10%;
    gap: %;
}

.flex2Col{
    width: 50%;
}

.blue{
    background-color: #fff;
    columns: white;
}

.actuallyBlue{
    background-color: #002d68;
    color: #fff;
}

.rowFlex{
    display: flex;
    flex-direction: row;
    justify-content: start;
    gap: 4em;
}

.stars {
    color: #e9ad1c;
}

.flexContainerBottom{
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: flex-start;   
}

#sneeky{
    padding: 20px;
    border-radius: 12px;
    background-color: #15d5f5;
    color: #fff;
    font-weight: 600;
    font-family: 'Poppins';
    border: none;
}

#sneeky:hover{
    background-color: #9311e9;
}

#gummy{
    padding: px;
    border-radius: 12px;
    width: 10%;
    border: none;
    height: 63px;
    background-color: #002d68;
    color: #fff;

}

#yGummy{
    padding: px;
    border-radius: 12px;
    width: 10%;
    border: none;
    height: 63px;
    background-color:#e9ad1c;
    color: #fff;

}


#ghost{
    color: #999999;
}

#ghost2{
    color: #ccc;
}

#sardine{
    color: #15d5f5;
}



#fixed{
  position: fixed;
  bottom: 20px; 
  right: 20px; 
  background-color:#e9ad1c;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  z-index: 1000;
  width: 270px;
}






footer{
    background-color: #fff
}

.footerLeft{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
}

.links{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.links p{
    font-weight: 600;
}

.socials{
    padding: 20px;
}

.socials p{
    font-weight: 600;
}

.footerBottom{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.topFoot{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#linkie{
    color: #5a5a5a;
}

#linkie:hover{
    color: #9311e9;

}
















.hehe{
    background-color: #ffffff;
    padding: 20%;
}

.hehe button{
    border-radius: 5px;
    background-color: #70b7e4;
}







